:root {
  --primary-brand :  #4D5AE5 ;
  --pressed-state : #404BBF;
  --text-color : #434455 ;
  --secondary-color : #2E2F42 ;
  --third-color : #FFFFFF ;
  --accent-color : #E7E9FC ;
  --background-color: #F4F4FD ;
  --customers-border: #8E8F99 ;
  --primary-font-family: 'Roboto', sans-serif;
  --green: #31D0AA ;
  --modal-window: #FCFCFC ;
  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    font-family: var(--primary-font-family) ;
    color: var(--text-color) ;
    font-size: 16px;
    line-height: calc(24/16);
    background-color: #FFFFFF;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.nav-link.current {
    color: var(--pressed-state) ;
}
.current {
    position: relative;
    color: var(--pressed-state) ;
}
.current::after {
    content: "";
    position: absolute;
    bottom:-1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--pressed-state);
border-radius: 2px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0000);
    overflow: hidden;
    }
.container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* <!-- Header --> */
header {
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.header-nav {
    display: flex;
    align-items: center; 
}
.logo-header {
font-family: 'Raleway';
font-size: 18px;
line-height: calc(24/18);
color: var(--secondary-color) ;
letter-spacing: 0.03em;
text-transform: uppercase;
padding: 24px 0;
margin-right: 76px;
}
.logo-part {
    color: var(--primary-brand) ;
}
.menu-header {
    display: none;
}
@media screen and (min-width: 768px) {
    .menu-header {
      display: flex;
      gap: 40px;
    }
}
.nav-link {
font-weight: 500;
color: var(--secondary-color) ;
letter-spacing: 0.02em;
padding: 24px 0 28px;
display: block;
transition: color var(--transition-effect);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--pressed-state) ;
}
address {
    font-style: normal; 
}
.header-adress {
    display: none;
    margin-left: auto;
}
@media screen and (min-width: 768px) {
    .header-adress {
        display: flex;
    }
}
.header-adress-flex {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
@media screen and (min-width: 1200px) {
    .header-adress-flex {
      display: flex;
      flex-direction: row;
      gap: 40px;
      padding-top: 24px;
      padding-bottom: 28px;
    }
}
.nav-header {
font-size: 12px;
letter-spacing: 0.02em;
color: var(--text-color);
padding: 24px 0;
transition: color var(--transition-effect);
}
@media screen and (min-width: 1200px) {
    .nav-header {
    font-size: 16px;
}
}
.nav-header:hover,
.nav-header:focus {
    color: var(--pressed-state) ;
}
.mobile-menu-btn {
    background-color: transparent;
    border: none;
    line-height: 0;
}
@media screen and (min-width: 768px) {
.mobile-menu-btn {
    display: none;
}
}
.mobile-menu-icon {
    color: var(--secondary-color);
}
/* <!-- Hero --> */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 112px 0;
  background-color: var(--secondary-color) ;
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7 ),
    rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero-phone.jpg);
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px) {
.hero {
  background-image: linear-gradient (rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
  url(../images/hero/hero-phone@2x.jpg);
}
}
@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7 ),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero-tablet.jpg);    
    }
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient (rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
  url(../images/hero/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7 ),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero.jpg); 
    }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
(min-resolution: 192dpi) and (min-width: 1200px),
(min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7 ),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero@2x.jpg) ; 
    }
}
@media screen and (min-width: 1200px) {
    .hero {
      padding: 188px 0;
    }
  }    
.hero-title {
    color:var(--third-color) ;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 319px;
    margin: 0 auto;
    margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        margin-bottom: 48px;
        font-size: 56px;
        line-height: calc(60/56);
    }
}
.hero-btn {
    padding: 16px 32px;
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    color: var(--third-color);
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-effect);
}
.hero-btn:hover,
.hero-btn:focus {
background-color: var(--pressed-state);
}
/* <!-- Section1 --> */
.section-our-features {
    padding-top: 96px;
    padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
    .section-our-features {
        padding-top: 120px;
        padding-bottom: 120px; 
    }
}
.features-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}
@media screen and (min-width: 768px) {
    .features-title {
        gap: 72px 24px;
    }
}
@media screen and (min-width: 1200px) {
    .features-title {
        flex-wrap: nowrap;
    }
}
.list-title {
    width: 396px;
  }
@media screen and (min-width: 768px) {
    .list-title {
        width: 356px;
    }
}
@media screen and (min-width: 1200px) {
    .list-title {
        width: 264px;
    }
}
.features-icon {
    display: none;
}
@media screen and (min-width: 1200px) {
    .features-icon {
      background-color: var(--background-color);
      border-radius: 4px;
      height: 112px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
    }
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(36/40);
    color: var(--secondary-color);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .title {
        text-align: left;
    }
}
@media screen and (min-width: 1200px) {
    .title {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
        text-align: left;
    }
}
.section-subtitle {
    font-weight: 500;
    color: var(--text-color);
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    }
@media screen and (min-width: 1200px) {
        .section-subtitle {
            font-weight: 400;
        }
    }
/* <!-- Section2 --> */
.section-menu {
   display: none;
}
@media screen and (min-width: 1200px) {
    .section-menu {
        display: contents;
        padding: 0;
      padding-bottom: 120px;
    }
}
.section-title {
    font-size: 36px;
    line-height: calc(40/36);
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-align: center;
    text-transform: capitalize;
    margin:auto;
    margin-bottom: 72px;
}
.menu-title {
    text-align: center;

}
@media screen and (min-width: 768px) {
    .menu-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px; 
    }
}
@media screen and (min-width: 1200px) {
    .menu-title {
        flex-wrap: nowrap;
        gap: 24px;
    }
}
/* <!-- Section3 --> */
.section-team {
    background-color: var(--background-color);
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
    }
    @media screen and (min-width: 1200px) {
    .section-team {
        padding-top: 120px;
        padding-bottom: 120px;  
    }
    }
    .list-title-team {
        width: 264px;
        margin: 0 auto;
        margin-bottom: 72px;
      }
    .item {
    background-color: var(--third-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    }
    .title-team-section {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .title-team {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
        color: var(--secondary-color);
        letter-spacing: 0.02em;
        padding-bottom: 8px;
    }
    .socials {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 8px;
    }
    .social-link {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items:center;
        border-radius: 50%;
        background-color: var(--primary-brand);
        transition: background-color var(--transition-effect);
    }
    .social-link:hover,
    .social-link:focus {
        background-color:var(--pressed-state);
    }
    .icon-social {
        fill: var(--third-color);
    }
/* <!-- Section4 --> */
.customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
    .customers-section {
        padding-top: 120px;
        padding-bottom: 120px;  
    }
    }    
.customers {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}
@media screen and (min-width: 768px) {
    .customers {
        column-gap: 24px;
    }
}
@media screen and (min-width: 1200px) {
    .customers {
        flex-wrap: nowrap;
    }
}
.customers-link {
    display: flex;
    padding: 16px 40px;
    border: 1px solid var(--customers-border);
    border-radius: 4px;
    outline: transparent;
    transition: border var(--transition-effect); 
}
@media screen and (min-width: 768px) {
    .customers-link {
        padding: 16px 32px;
    }
}
.customers-icon {
    fill: var(--customers-border);
    transition:fill var(--transition-effect);
}
.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--pressed-state) ;
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon{
    fill: var(--pressed-state);
    outline: transparent;
}
 /* <!-- Footer --> */
 .section-footer {
    padding: 96px 0;
    text-align: center;
    background-color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
    }
  } 
@media screen and (min-width: 1200px) {
    .section-footer{
      padding: 100px 0;
    }
  }
 
.text-footer {
    width: 268px;
    margin: 0 auto;
    text-align: start;
    margin-bottom: 72px;
    line-height: calc(24/16);
    color: var(--accent-color);
    letter-spacing: 0.02em;
    }
@media screen and (min-width: 768px) {
    .text-footer {
    margin-bottom: 0;
        }
}
@media screen and (min-width: 1200px) {
    .text-footer {
      width: 264px;
    }
}
.logo-footer {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    color: var(--background-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 16px;
    padding: 0;
}
.footer-box {
    margin-right: 24px;
}
@media screen and (min-width: 768px) {
    .footer-box {
      text-align: left;
    }
  }
  @media screen and (min-width: 1200px) {
    .footer-box {
      margin-right: 120px;
    }
  }
.media-section {
    margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
    .media-section {
      margin-right: 79px;
    }
  }
@media screen and (min-width: 1200px) {
    .media-section {
      margin-bottom: 0;
      margin-right: 79px;
    }
  } 
.media-title {
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: var(--third-color);
margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .media-title {
      text-align: start;
    }
  }
@media screen and (min-width: 1200px) {
    .media-title {
      font-weight: 400;
    }
  }
.media-list {
    display: flex;
    align-content:center;
    justify-content: center;
    gap: 16px;
}
.media-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-effect);
}
.media-link:hover,
.media-link:focus {
    background-color: var(--green);
}
.icon-media {
fill: var(--background-color);
}
.section-subscribe {
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: var(--third-color);
margin-bottom: 16px;
}

.footer-input {
width: 100%;
height: 40px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
margin-bottom: 16px;
font-size: 12px;
line-height: calc(24/12);
align-items: center;
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
outline: transparent;
transition: border-color var(--transition-effect);
}
@media screen and (min-width: 768px) {
    .footer-input {
        width: 264px;
        margin-right: 24px;
    }
}
.footer-input:focus {
    border-color: var(--primary-brand);
}
.subscribe-btn {
display: inline-flex;
gap:16px;
width: 165px;
height: 40px;
padding: 8px 24px;
font-family: var(--primary-font-family);
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.04em;
background-color: var(--primary-brand);
color: var(--third-color);
border-radius: 4px;
cursor: pointer;
border: none;
transition: background-color var(--transition-effect);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
background-color: var(--pressed-state);
color: var(--third-color);
}
  /* <!-- Modal window --> */
  .backdrop {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-effect), visibility var(--transition-effect);
    visibility: visible;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 408px;
padding: 72px 24px 24px 24px;
margin-bottom: 24px;
background: var(--modal-window);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.modal-btn {
position: absolute;
top: 24px;
right: 24px;
display: flex;
width: 24px;
height: 24px;
align-items:center;
justify-content: center;
border-radius: 50%;
background-color: var(--accent-color);
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color var(--transition-effect);
}
.modal-btn:hover,
.modal-btn:focus  {
background-color: var(--pressed-state);
}
.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
fill : var(--third-color);
}
textarea {
    resize: none;
}
.modal-strong {
    display: flex;
    margin-bottom: 16px;
    font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
text-align: center;
letter-spacing: 0.02em;
justify-content: center;
color: var(--secondary-color);
}
.modal-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.04em;
color: var(--customers-border);
margin-bottom: 8px;
}
.modal-group:not(:last-child) {
    margin-bottom: 8px; 
}
.modal-input {
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
height: 40px;
padding-left: 35px;
padding-right: 5px;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.04em;
outline: transparent;
transition: border-color var(--transition-effect);
}
.modal-input:focus + .modal-icon-group {
    fill: var(--primary-brand);
  }
.modal-input:focus {
    border-color: var(--primary-brand);
  }
.input-wrapper {
    position: relative;
}
.modal-icon-group {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: var(--secondary-color);
    transition: fill var(--transition-effect);
}
.modal-comments {
display: block;
width: 100%;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding: 8px 16px;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.04em;
outline: transparent;
transition: border-color var(--transition-effect);
}
.modal-comments:focus {
    border-color: var(--primary-brand);
}
.modal-group-agreement {
    margin-top: 16px;
    margin-bottom: 24px;
}
.modal-form-agreement {
display: flex;
align-items:center;
justify-content: center;
gap: 6px;
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox > .unchecked {
    opacity: 1;
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox > .checked {
    opacity: 0;
}
.modal-form-custom-checkbox {
    cursor: pointer;
}
.unchecked {
    opacity: 0;
}
.checked {
    opacity: 1;
}
.modal-form-agreement-text {
margin: 0;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.04em;
color: #757575;
user-select: none;
}
.agreement-link {
    color: var(--primary-brand);
    text-decoration: underline;
}
.modal-group-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    width: 169px;
    height: 56px;
    color: var(--third-color);
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-effect);
}
.modal-group-btn:hover,
.modal-group-btn:focus {
    background-color: var(--pressed-state); 
}
/* <!-- Mobile-menu --> */
.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: var(--third-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  .mobile-menu-list {
    margin-bottom: auto;
  }
  .mobile-menu-item {
    margin-bottom: 40px;
  }
  .mobile-menu-link {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .mobile-menu-contact {
    margin-bottom: 40px;
  }
  .mobile-link-phone {
    color: var(--primary-brand);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .mobile-link-email {
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
  }
  .socials-mobile {
    display: flex;
    justify-content: center;
    gap: 56px;
}
.mobile-menu-link.active {
    color: var(--pressed-state);
}
  